# Python
# Arquivos de bytecode e de cache do Python
__pycache__/
*.pyc
*.$py.class

# Distribuição e pacotes de instalação
*.egg-info/
.eggs/
dist/
build/
venv/
env/
.venv/

# Variáveis de ambiente e configuração local
# É crucial não versionar secrets, chaves, senhas ou configurações de ambiente
# Use .env para configurações sensíveis e certifique-se de que ele está ignorado.
.env
.flaskenv # Se estiver usando tooling que o crie (embora seja FastAPI)
config.yaml # Se usar um arquivo de configuração local não versionado

# IDEs e Editores
# Ignorar arquivos de configurações específicas de IDEs
# VSC (Visual Studio Code)
.vscode/

# JetBrains IDEs (PyCharm, IntelliJ)
.idea/
*.iws
*.iml
*.ipr

# MacOS
.DS_Store

# Logs e Dados Gerados
logs/
*.log
*.sqlite3 # Para bancos de dados SQLite locais
/data/ # Se você tiver uma pasta para dados gerados localmente

# Jupyter Notebooks (Se você usar notebooks para testes ou prototipagem)
.ipynb_checkpoints

# Testes
# Cobertura de testes e relatórios gerados
.coverage
htmlcov/

# Outros
tmp/